html, body {
  height: 100%;  
}

.gray-block {
    background-color: dimgrey; 
    height: 100%; 
    width: 100% ; 
    display: table;
    border: 1px solid white;
    min-height: 400px;
}

.form-group {
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
}